.botao {
    
    top: 0px;
    margin:0px;
    padding: 0px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #030212;
}

button#botao2 {
    
    background-color:#1c08e2;
}

button#botao3 {
    background-color:#211A4F;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center
}

body {
    background-color: #030212;
}